@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

body{
    font-family: 'Exo', sans-serif;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

#main-content {
    padding: 10px;
    border-radius: 15px;
    margin: 80px auto;
    background-color: #252525;
}

.show-content{
    display: none;
}

.medsos:hover {
    transform: scale(1.2); 
}

.hover08 figure img {
	filter: grayscale(100%);
	transition: .2s ease-in-out;

}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.actionBtn5 {
    border: 1px solid whitesmoke !important;
    overflow:hidden;
    position:relative;
    display:block;
    border: 1px;
    width: 80%;
    height:30px;
    margin: 5px auto;
    border-radius: 20px;
    color: whitesmoke;
    text-align:center;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    line-height:31px;
    font-size:14px;
    font-family:oswald;
    text-decoration:none;
    text-transform:uppercase;
}
.actionBtn5 span {
    display:block;
}
.actionBtn5 .hover:after {
    position:absolute;
    top:0;
    left:50%;
    opacity:0;
   display:block;
    content:"";
    width:0%;
    height:40px;
    background-color:whitesmoke;
    border:1px solid transparent;
   transform:skewX(-40deg);
   -webkit-transform:skewX(-40deg);
   -moz-transform:skewX(-40deg);
   transform-origin:center center;
    -webkit-transform-origin:center center;
    -ms-transform-origin:center center;
    -moz-transform-origin:center center;
    transition:all .35s, opacity .4s;
    -webkit-transition:all .35s, opacity .4s;
    -moz-transition:all .35s, opacity .4s;
}
.actionBtn5 .hover .txt {
   z-index:10;
   position:relative;
   transition:color .35s;
   -webkit-transition:color .35s;
   -moz-transition:color .35s;
}
.actionBtn5:hover .hover .txt {
    color: black;
}
.actionBtn5 .hover:hover:after {
    opacity:1;
    left:3%;
    width:95%;
    transform:skewX(-40deg);
    -webkit-transform:skewX(-40deg);
    -moz-transform:skewX(-40deg);
}

.data {
    display: none;
}